<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit(ingForm)" #ingForm="ngForm">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name"></label
          ><input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="ingredientName"
            required
          />
        </div>

        <div class="col-2 form-group">
          <label for="amount"></label>
          <input
            type="number"
            class="form-control"
            name="ingredientAmount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="ingForm.invalid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger mx-3"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button class="btn btn-warning" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
